.map-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}


.context-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 4px 0;
  z-index: 1000;
  border-radius: 0.5em;
}

/* Context Menu Item */
.context-menu-item {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
  color: #333;
  border-radius: 0.5em;
}

.context-menu-item:hover {
  background-color: rgba(0,0,0,0.2);
}

.navControl{
  right: 6rem;
  background-color: white;
}

  
  


