.ProfileContainer {
   position: absolute;
   right: 0;
   top: 0;
   height: 4.7vh;
   width: 4.7vh;
 }
 
 .Profile {
   border-radius: 50%;
   padding: 0.7rem;
   box-sizing: border-box;
   max-width: 9.4rem;
   width: 8vh;
   height: 8vh;
   margin-left: -4vh;
 }
 
 .ProfileInfo{ 
   overflow: hidden;
   height: 5rem;
 
   &.collapsed {
     opacity: 0;
     height: 0;
   }
 }
 
 .Name{
   font-size: 1.5rem;
   font-weight: 600;
   margin: 0;
   padding: 0;
 }
 
 .Title{
   font-size: 1rem;
   font-weight: 400;
   margin: 0;
   padding: 0;
 }