@use "../../variables" as v ;
.HeaderStyle{
   display: flex;
   position: relative;
   left: 7vw;
   justify-content: flex-start;
   align-items: flex-start;
   border-radius: 0.5rem;
   height: 3rem;
}