.searchIcon {
  position: absolute;
  top: 0;
  left: 72px;
  height: 8.97vh;
   width: 26.42vw;
   display: flex;
   justify-content: center;
   align-items: center;
  cursor: pointer;
  z-index: 2;
}